[*.cs]
indent_style = space  
tab_width = 4
insert_final_newline =  true
trim_trailing_whitespace = true
end_of_line = lf
csharp_new_line_before_open_brace = none
csharp_space_after_keywords = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false